
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E6DADA; 
  background: linear-gradient(to right, #E6DADA, #274046);
}

.calculator {
  background:#767f82;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px #274046;
}

.calculator-display {
  background: #242424;
  color: #E6DADA;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: monospace, sans-serif;
  font-weight: 100;
  overflow-x: auto;
}
/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* BUTTONS */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  font-family: monospace, sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #59696d;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(1px);
}

button:focus {
  outline: none;
}

.operator {
  background-color: #a5a6a8;
  font-size: 30px;
}

.clear {
  background: rgba(124, 11, 11, 0.642);
  color: white;
}

.clear:hover {
  filter: brightness(90%);
}

.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
  background: #568a97;
}

/* Large Smartphone */
@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}